html {
  height: 100%;
  width: 100%;
  body {
    background: linear-gradient(to right,  rgba(140,103,34,1), rgba(255,211,67,1));
    color: white;
  }
  li,
  a {
    color: white
  }
  grey {
    color: #b1b1b1
  }
  lgrey {
    color: #e1e1e1
  }
  h1{
    font-style: italic;
  }
}