html {
  height: 100%;
  width: 100%;
  body {
    background: radial-gradient(circle, rgba(255,211,67,1) 0%, rgba(189,149,48,1) 55%, rgba(164,126,41,1) 85%, rgba(140,103,34,1) 100%);
    color: white;
  }
  li,
  a {
    color: white
  }
  grey {
    color: #b1b1b1
  }
  lgrey {
    color: #e1e1e1
  }
  h1{
    font-style: italic;
  }
}